/Compilador de Triangle/Triangle/nbproject/private/
/Compilador de Triangle/Triangle/build/
/Compilador de Triangle/Triangle/dist/
/Compilador de Triangle/ide-triangle-v1.1.src/nbproject/private/
/Compilador de Triangle/ide-triangle-v1.1.src/build/
/Compilador de Triangle/ide-triangle-v1.1.src/dist/
